@import "../../_variables.scss";

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;

    .progress {
        height: 100%;
        background-color: $button-primary;
        transition: width 0.3s ease;
    }
}