@import "../../_variables.scss";

.card {
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 3rem;
    padding: 1rem;
}