@import "../../_variables.scss";

.comparator {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: $background-color;

    .category {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        margin-top: 2rem;

        .category-name {
            font-weight: bold;
            margin-left: 1rem;
        }
    }

    .pair {
        width: 60%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 3rem;
        margin-top: 2rem;

        img {
            width: 100px;
            height: 100px;
        }
    }

    .slider {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        margin-top: 2rem;
        height: 20px;

        input[type=range] {
            width: 100%;
            height: 20px;
            -webkit-appearance: none;
            background: white;
            border-radius: 10px;
            outline: none;
            margin: 0;
            padding: 0;
            cursor: pointer;
        }
    }

    .buttons {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2rem;
    }

    .preference {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        margin-top: 2rem;

        .preference-weight {
            font-weight: bold;
        }
    }

    &.fade-out {
        animation: fadeOut 0.5s forwards;
    }

    &.fade-in {
        animation: fadeIn 0.5s forwards;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}